.ProductList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.bade {
    color: white;
    border-radius: 50%;
    padding: 5px ;
    font-size: 14px;
    width: 35px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
    
 
}