.productName {
    display: block;
    align-items: flex-start;
    font-size: 15px;
}
.productName img{
    width: 30px
}

.qty{
    padding: 0px;
}
@media only screen and (max-width:540px){
    .qty{
        padding: 10px;
    }
}
@media only screen and (min-width:540px){
    .productName{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .productName img{
        width: 50px;
    }

    

    }
