.productName {
    display: block;
    align-items: flex-start;
    font-size: 15px;
}
.productName img{
    width: 30px
}

@media only screen and (min-width:540px){
    .productName{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .productName img{
        width: 50px;
    }

    }
